.gridview {
  width: 85vh;
  height: 85vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 4vh;
  align-content: flex-start;
} 

.tile {
  width: 10vh;
  height: 10vh;
}

img {
  height: 10vh;
  width: 10vh;
}

.App {
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
}

.unselecteddark {
  background-color: #b58863;
}

.unselectedlight {
  background-color: #f0d9b5;
}

.selecteddark{
  background-color:#e1f2f1;
}

.selectedlight{
  background-color: #e1f2f1;
}

.moveablelight {
  background-color: #ffe6e6;
}

.moveabledark {
  background-color: #ffb3b3;
}

.opponentthreatendark {
  background-color: red;
}

.opponentthreatenlight {
  background-color: red;
}

.whitebutton {
  width: 50vh;
  height: 50vh;
}

.blackbutton {
  width: 50vh;
  height: 50vh;
}